## Условие 1:

### Оформляйте ноутбук, используя эти советы:

### Номер задачи - заголовок 2

### Номер подзадачи - заголовок 3

### Предоставленные наборы данных оформляйте, как код

### Рекомендации для преподавателей по оценке задания:

### Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## На складе лежат разные фрукты в разном количестве.
### Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
fruits = {}
amount = int(input("Количество названий фруктов: "))
for i in range(amount):
        name = input("Название фрукта: ")
        amountFruit = int(input("Количество: "))
        fruits[name] = amountFruit
total = 0
for item in fruits.values():
    total += item
print(total)

15

## Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
- [100, 125, -90, 345, 655, -1, 0, 200]
_Используйте list comprehensions_

In [2]:
list1 = [100, 125, -90, 345, 655, -1, 0, 200]
list2 = [n for n in list1 if n>=0]
print(sum(list2))

1425

## Найдите, какая выручка у компании в ноябре
### Даны два списка:
* Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
* Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
_Используйте list comprehensions_

## Найдите выручку компании в зависимости от месяца
### Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
_Используйте аннотирование типов._

In [3]:
import datetime
import pandas as pd
dt = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
      '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
      4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

df = pd.DataFrame()
df['Дата'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in dt]
df['Выручка'] = sm
df['Месяц'] = pd.DatetimeIndex(df['Дата']).month
df.groupby('Месяц').sum()

C:\Users\Focus G White\AppData\Local\Temp\ipykernel_13152\3937055376.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Месяц').sum()

       Выручка
Месяц
9        25647
10       28645
11       25098
12       45452